@use "variables" as *;

// start components

.photos {
  .insta-i {
    width: 43.33px;
    height: 43.33px;
    border: 5px solid white;
    border-radius: 15px;
    transition: $transition;
    opacity: 0;
    z-index: 10;
    @extend .absolute-center;
    &::before {
      content: "";
      width: 23px;
      height: 23px;
      border: 4px solid white;
      border-radius: 50%;
      @extend .absolute-center;
    }
    &::after {
      content: "";
      width: 5px;
      height: 5px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: 3.5px;
      right: 3.5px;
    }
  }
  &:has(.insta-photo:hover) {
    .insta-photo:not(.insta-photo:hover) {
      filter: blur(3px);
    }
  }
}

.spoon {
  $spoonColor:$colorGold;
  position: relative;
  width: 40px;
  height: 9px;
  margin-top: 8px;
  margin-bottom: 8px;
  // @media ($Mob_Ipad_Mid_Medias) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  span {
    width: 13px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    border: 1px solid;
    border-color: $spoonColor;
    display: inline-block;
    &:before,
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
    }
    &:before {
      background: $spoonColor;
      width: 5px;
      height: 1.8px;
      left: -5.2px;
    }
    &:after {
      width: 22px;
      height: 3px;
      border: 1px solid;
      border-color: $spoonColor;
      right: calc(100% + 5px);
    }
  }
}
.btn {
  width: fit-content;
  height: fit-content;
  font-family: $mainFamily;
  display: block;
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 32px;
  background-color: $colorGold;
  transition: $transition;
  user-select: none;
  &:hover {
    background-color: transparent;
    color: $colorGold;
    outline: 2px solid $colorGold;
  }
}

.word-shape {
  width: fit-content;
  color: $colorGold;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  display: block;
  user-select: none;
  margin-left: auto;
  &.scroll {
    bottom: 0;
  }
  &::before {
    content: "";
    width: 2px;
    height: 61px;
    display: block;
    position: absolute;
    left: 50%;
    top: -130%;
    background: linear-gradient(
      to bottom,
      #dcca87,
      #dcca87,
      rgba(220, 202, 135, 0.24)
    );
  }
}

.img {
  &::before,
  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: $colorGold;
  }
  &::before {
    top: 0;
    right: 0;
  }
  &::after {
    bottom: 0;
    left: 0;
  }
  img {
    width: 100%;
    height: 100%;
    z-index: 2;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    // @extend .absolute-center;
    position: relative;
    display: block;
  }
}

.custom-container {
  width: 100%;
  margin: 0 auto;
  // overflow: hidden;
  @media (max-width: 520px) {
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    padding: 0 25px;
  }
  @media (max-width: 991px) {
    padding: 0 30px;
  }
  @media (max-width: 1024px) {
    padding: 0 40px;
  }
  @media (max-width: 1200px) {
    padding: 0 45px;
  }
  @media (min-width: 1201px) {
    width: 1000px;
  }
}

