@use "variables" as *;

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  text-transform: capitalize;
}
// Start elements rules
body {
  font-family: $mainFamily;
  background-color: $Dark;
  width: 100dvw;
  height: auto;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
img {
  user-select: none;
}
p {
  font-family: $secondFont;
  color: $textColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
input {
  caret-color: $colorGold;
  outline: none;
  border: none;
  color: $colorGold;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  // line-height: 117px;
  color: $colorGold;
  //  $not_mob : "(min-width: 520px)";
  // $not_sm_ipad: "(min-width: 768px)";
  // not_sm_ipad: "(min-width: 991px)";
  // $not_sm_labTop: "(min-width: 1024px)";
  // $max_media: "(min-width: 1200px)";
  @media ($not_mob) {
    font-size: 65px;
  }
  @media ($not_sm_ipad) {
    font-size: 75px;
  }
  @media (not_sm_ipad) {
    font-size: 80px;
  }
  @media ($not_sm_labTop) {
    font-size: 90px;
  }
  @media ($max_media) {
    font-size: 95px;
  }
}
h2 {
  font-size: 64px !important;
  font-weight: 600 !important;
  line-height: 83.2px;
  color: $colorGold;
  @media ($ipad_Mob_Media) {
    font-size: 45px !important;
    line-height: 58.5px;
  }
}
h3 {
  font-size: 45px !important;
  font-weight: 600 !important;
  line-height: 58.5px;
  color: white;
}
h4 {
  font-size: 32px !important;
  font-weight: 400 !important;
  line-height: 41.6px;
  color: $colorGold;
}
h5 {
  font-size: 23px !important;
  font-weight: 700 !important;
  line-height: 29.9px;
  color: white;
}
h6 {
  font-size: 16px !important;
  font-weight: 400;
  line-height: 28px;
  color: $textColor;
  font-family: $secondFont;
}
// End elements rules

/* Start scrollbar */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: $Dark;
}
::-webkit-scrollbar-thumb {
  height: 300px;
  background-color: $textColor;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $colorGold;
}

::selection {
  background-color: $colorGold;
  color: $Dark;
}
